<!DOCTYPE html>
<html lang="en">
<head>
    <title>Lancer: User Manager</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<form action="#" th:action="@{/rolemanager}" th:object="${roleManagerForm}" method="post">
    <table>
        <tr>
            <td>Username:</td>
            <td><input type="text" th:field="*{username}" /></td>
            <td th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username Error</td>
        </tr>
        <tr>
            <td>Role:</td>
            <td><input type="text" th:field="*{role}" /></td>
            <td th:if="${#fields.hasErrors('role')}" th:errors="*{role}">Role Error</td>
        </tr>
        <tr>
            <td><button type="submit">Submit</button></td>
        </tr>
    </table>
</form>
</body>
</html>